.redo
.cache
.do_built
.do_built.dir/
result
*.did.tmp
*.o
*.d
.direnv/
cmd/iotac
lex/ucgen
lex/uc_data.c
lex/liblex.a
ast/libast.a
syn/libsyn.a
config.env
t/test.o
t/runecat_test
t/lex_test
t/common_test
