.redo
.cache
.do_built
.do_built.dir/
result
*.did.tmp
*.o
*.d
*.a
*.so
.direnv/
cmd/iotac
lex/ucgen
lex/uc_data.c
lex/liblex.a
ast/libast.a
syn/libsyn.a
common/hmtypes.h
common/hmtypes.c
common/hmgen
config.env
t/test.o
t/runecat_test
t/lex_test
t/common_test
t/syn/dump_ast
__pycache__/
